.node {
   width: 50px;
   height: 50px;
   //border: 1px solid black;
}
.node-start {
   background: darkgreen;
   border-radius: 50%;
   border: 1px solid black;
}
.node-end {
   background: rgb(128, 92, 0);
   border-radius: 50%;
   border: 1px solid black;
}

.node-visited {
   animation-name: visitedAnimation;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-delay: 0;
   animation-direction: alternate;
   animation-iteration-count: 2;
   animation-fill-mode: forwards;
   animation-play-state: running;
}

@keyframes visitedAnimation {
   25% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 10%;
   }

   50% {
      background-color: peachpuff;
      border-radius: 50%;
   }

   75% {
      transform: scale(1.2);
      background-color: peachpuff;
      border-radius: 50%;
   }

   100% {
      transform: scale(1);
      background-color: peachpuff;
      border-radius: 50%;
   }
}

.node-wall {
   background:black;
   border-radius: 40%;
}

.node-short-path {
   border: none;
   animation-name: shortestPath;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-delay: 0;
   animation-direction: alternate;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
   animation-play-state: running;
   background: url('/GameOver/src/assets/Stone.png');
}

@keyframes shortestPath {
   25% {
      transform: scale(0.6);
      background: url('/GameOver/src/assets/Stone.png');
   }
   50% {
      transform: scale(1.2);
      background: url('/GameOver/src/assets/Stone.png');
   }
   100% {
      transform: scale(1);
      background: url('/GameOver/src/assets/Stone.png');
   }
}
