.wrapper {
   margin: auto;
   margin-top:2em;
   position:absolute;
   padding-bottom:12em;
}
.row-wrapper {
   display: flex;
   
}
.grid{
   background:url('/GameOver/src/assets/Texture.png');

   display:grid;
   grid-template-columns: repeat(1, 1fr);
}
